div#contents {
    border: none;
}

article#printContent {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "メイリオ", sans-serif;
    font-size: 13px;
    width: 210mm;
    border: 1px solid black;
}

@media print{
    article {
        border: none;
    }
    .notPrint {
        display: none;
    }
}

div#documentContent {
    margin: 10mm;
}

div#documentContent ol {
    padding-left: 20px;
}

div#documentContent table {
    border-collapse: collapse;
    //border: 1px solid black;
}

div#documentContent table th{
    min-width: 15px;
    border-right: 1px solid black;
    border-left: 1px solid black;
    font-size: 12px;
    padding: 2px;
}

div#documentContent table td{
    word-wrap: normal;
    font-size: 12px;
    padding: 2px;
}

div#signature {
    page-break-before: always;
}

div#head {
    display: none;
}

div#menu {
    display: none;
}

/*div#main {
    //border: 1px solid black;
    padding-top: 15px;
    padding-left: 35px; 
    padding-bottom: 30px;
    background: #FFFFFF;	
    float: left;
    font-size: 100%;
    //width: 1000px;
}*/

div#submenu {
    display: none;
}

div#foot {    
    display: none;
}

strong {
    color: #CC3333;
}

h1 {
    font-size: 110%;
    padding: 25px 15px 5px;
    border-bottom: 1px solid #CCCCCC;
    background: #F3F3F3;
    font-weight: normal;
}

h2 {
    text-align: center;
}


blockquote {
    margin-left: 10px;
}
