html, body {
    height: 100%;
    font-family: "メイリオ", sans-serif;
    font-size: 12px;
}

#tags {
    border: 1px solid #CCCCCC;
}

#contents {
    width: 98%;
    border: solid 1px;
    margin: 0 auto;
    text-align: left;
    background: #FFFFFF;
    //margin: 0 auto;
}
div#head {
    padding: 10px 10px 5px 5px;
    margin: 0px;
    background: #FFFFFF;
    height: 50px;
}

div#menu {
    padding-left: 5px;
    padding-top: 5px;
    height: 30px;	
    background: #245386;
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
}
div#menu ul{
    margin: 0px;
    padding: 0px;
}

div#menu li{
    float: left;
    padding: 0px;
    margin-right: 15px;
    margin-top: 5px;
    margin-left: 10px;
    color: #FFFFFF;
    list-style: none;
}

div#main ul {
    margin-left: 20px;    
    margin-right: 20px;
}

div#menu a{
    color: #FFFFFF;
    text-decoration: none;
}
div#menu a:hover{
    color: #000000;
    background: #D7E1EC;
}

div#main {
    //border: 1px solid black;
    padding-top: 15px;
    padding-left: 30px; 
    padding-bottom: 30px;
    padding-right: 10px;
    background: #FFFFFF;
    float: left;
    //font-size: 100%;
    width: 80%;
}

div#submain {
    float: left;
    width: 70%;
}

div#DropZone {
    float: left;
    width: 25%;
    margin-left: 35px;
    margin-right: 10px;
}

div#DocDropzone {
    margin-bottom: 20px;
}

div#DocList table, tr{
    font-size: 12px;
    width: 100%;
    border: #000000 1px solid;
    border-collapse: collapse;
}

div#DocList tr:nth-child(odd){
    background: #E4FFE9;
}

div#DocList th{
    text-align: center;
    background: #9cc;
}

div#DocList th, td{
    padding-left: 5px;
    border: gray 1px solid;
    border-collapse: collapse;
}

div#DocList .delLink {
    padding: 1px;
    text-align: center;
    font-weight: bolder;
}

div#DocList .delLink a{
    text-decoration: none;
}

div#submenu {
    width: 15%;
    float: left;
    background: #E4FFE9;
    border:1px solid #D1D1D1;    
}

div#kensakumenu {
    width: 100%;
    float: left;
    background: #EEE;
    border:1px solid #D1D1D1;    
}

div#submenu h2{
    margin:0;
    padding:10px 5px;
    font-size:14px;
    border-bottom:3px solid #099;
    background:#fff url("../application/img/bg_h2.gif") 0 100% repeat-x;
}

div#submenu ul{
    margin:0;
    padding:0;
    list-style: none;
    //border-top:1px solid #ddd;
}

div#submenu li {
    padding:0;
    font-size:13px;
    line-height:2.0;
    border-bottom: 1px dotted #999;
}

div#submenu a {
    display:block;
    padding:10px 0 10px 20px;
    color:#333;
    text-decoration:none;
    background:url("../application/img/bg_list.gif") 10px 50% no-repeat;
}

div#submenu a.current {
    color:#099;
    background:#c7e9e9 url("../application/img/bg_list.gif") 10px 50% no-repeat;
}

div#submenu a:hover {
    color:#099;
    background:#b9e3e3 url("../application/img/bg_list.gif") 10px 50% no-repeat;
}

div#foot {    
    background-color: #333333;
    color:#FFFFFF;
    font-size: 11px;
    height: 20px;
    border-top: 1px solid #333333;
    padding: 0px 0px 25px 0px;
    text-align: center;
    clear: both;
    margin: 2px 0 0 0;
}
div#foot_up {
    clear:both;
}

div#foot p{
    height: 10%;
}

div#quickfilter {
    background: #E8F5FF;
    width: 60%;
}

div#quickfilter span{
    color: white;
    padding: 2px;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bold;
    background: #245386;
    text-align: center;
}

input#searchbox {
    width:60%;
    margin:5px;
}

div#searchmenubox {
    width: 100%;
}

div#searchmenubox1 {
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #245386;
    height: 13%;
    width:60%;
}

div#searchmenubox2 {
    float: right;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #245386;
    height: 13%;
    width:35%;
}

div#searchmenubox1 > div, div#searchmenubox2 > div{
    font-weight: bold;
    padding-top: 5px;
    padding-left: 5px;
    color: #245386;
    background: #E8F5FF;
    border-bottom: 1px dotted #245386;
    //width: 9% !important;
}

div#searchmenubox1 table, div#searchmenubox2 table {
    margin: 5px;
    border-collapse: separate;
}

div#searchmenubox1 table tr,th,td {
    border: none;
}

div#searchmenubox1 table td, div#searchmenubox2 table td {
    padding-left: 10px;
    padding-right: 10px;
}

div#searchmenubox1 table th, div#searchmenubox2 table th {
    text-align: right;
    padding-left: 0px;
}

div#searchmenubox1 select {
    width: 150px;
}

div#searchmenubox2 select {
    width: 80px;
}

div#searchmenubox2 input[type="text"] {
    width: 80px;
    margin-right: 20px;
}

div#searchmenubox1 table th, td {
    min-width: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

div#searchmenubox2 table th, td {
    min-width: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

ul#caseList{
    margin-left: -40px !important;
}

ul#caseList li.dataRow{
    margin-bottom: 30px;
    list-style: none;
}

ul#caseList li.titleRow{
    margin-bottom: 10px;
    list-style: none;
}

table#caseTable {
    border-collapse: collapse;
}

table#caseTable tr.caseTitleRow td, tr.caseDataRow td{
    border: 1px solid black !important;
    padding: 3px;
}

table#caseTable tr.caseDataRow td#caseTitleCell {
    background: #E8F5FF;
    border-right: none !important;
}

table#caseTable tr.caseDataRow td#customerNameCell {
    background: #E8F5FF;
    border-left: none !important;
    border-right: none !important;
}

table#caseTable tr.caseDataRow td#caseRankCell {
    background: #E8F5FF;
    border-left: none !important;
}

table#caseTable tr.caseTitleRow{
    font-weight: bold;
    text-align: center;
    background: #E4FFE9;
}

table#caseTable td {
    min-width: 100px;
}

table#caseTable td#csw, table#caseTable td#sut {
    min-width: 70px;
}

table#caseTable td#regdate, td#findate {
    min-width: 120px;
}

table#caseTable tr.caseTagRow ul{
    margin-left: 0px;
    padding-left: 5px;
}

table#caseTable tr.caseTagRow ul li{
    float: left;
    margin-right: 10px;
}

table#caseTable tr.caseTagRow ul li span{
    color: white;
    font-family: "Comic Sans MS";
    background: #245386;
    padding: 2px;
}

div.DoneInfo table {
    margin-bottom: 20px;
}

strong {
    color: #CC3333;
}

h1 {
    font-size: 110%;
    padding: 25px 15px 5px;
    border-bottom: 1px solid #CCCCCC;
    background: #F3F3F3;
    font-weight: normal;
}

dl {
    padding-left: 8px;        
    margin-bottom: 25px;
    margin-left: 10px;
    margin-right: 5px;
    border-left: 8px solid #9cc;
}

dt {
    font-weight: bold;
    line-height: 1.3;
    font-size: 14px;
    font-family: "Comic Sans MS";
    color: #660033;
    margin-top: 5px;
}
dd {
    margin-bottom: 5px;
    margin-top: 5px;
}

legend {
    margin:5px;
}
.imgbox {
    margin: 0px 0px 1em 40px;
}
.imgbox img{
    border: 1px solid #666666;
}
.imgbox_f {
    margin: 0px 10px 1em;
    float: right;
}
.imgbox_f img{
    border: 1px solid #666666;
}

label:hover {
    background-color: #ffcccc;
}

input[type="submit"] {
    margin: 3px;
}

.InputForm input[type="text"] {
    margin: 3px;
    padding: 3px;
    width: 80%;
    text-align: left;
}

.InputTag {
    margin: 3px !important;
    padding: 3px !important;
}

.inputTextShort {
    width: 15% !important;
}

.class-holiday > .ui-state-default {
    background: #FFFFCC !important;
    color: red !important;
}
.class-sunday > .ui-state-default {
    background: #FFCCCC !important;
    color: red !important;
}
.class-saturday > .ui-state-default {
    background: #CCCCFF !important;
    color: blue !important;
}

textarea {
    padding: 2px;
    width: 95%;
    height: 100px;
}

.InputForm {
    text-align: left;
    font-size: 12px;
    border-top: 1px grey solid;
    border-right: 1px grey solid;
    border-bottom: 1px grey solid;
    border-left: 5px solid #0073ea;
    border-collapse: collapse;
    margin-right: 30px;
    background: #FFFFFF;
    width: 100%;
}

.InputForm th {
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 25%;
    font-weight: normal !important;
    background: #E8F5FF;
    border-right: 1px grey solid;
    border-top: 1px grey solid;
    border-bottom: 1px grey solid;
}

.InputForm .requiredItem:after{
    float: right;
    color: red;
    content: '(※必須)';
    padding-right: 10px;
    font-size: 11px;
}

.InputForm td {
    //width: 400px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 7px;
    border-top:1px grey solid;
    border-bottom:1px grey solid;
}

.track-progress[data-steps="3"] li { width: 20%; }
.track-progress[data-steps="4"] li { width: 18%; }
.track-progress[data-steps="5"] li { width: 15%; }
.track-progress[data-steps="6"] li { width: 15%; }

.track-progress {
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-left: 25px;
}

.track-progress li > span {
    display: block;

    color: #999;
    font-weight: bold;
    text-transform: uppercase;
}

.track-progress li.done > span {
    color: #666;
    background-color: #ccc;
}

.track-progress li.current > span {
    color: #666;
    background-color: pink;
}

.track-progress li.next > span {
    color: #666;
}

.track-progress li {
    list-style-type: none;
    display: inline-block;

    position: relative;
    margin: 0;
    padding: 0;

    text-align: center;
    line-height: 30px;
    height: 30px;

    background-color: #f0f0f0;
}
.track-progress li > span:after,
.track-progress li > span:before {
    content: "";
    display: block;
    width: 0px;
    height: 0px;

    position: absolute;
    top: 0;
    left: 0;

    border: solid transparent;
    border-left-color: #f0f0f0;
    border-width: 15px;
}

.track-progress li > span:after {
    top: -5px;
    z-index: 1;
    border-left-color: white;
    border-width: 20px;
}

.track-progress li > span:before {
    z-index: 2;
}
.track-progress li.done + li > span:before {
    border-left-color: #ccc;
}
.track-progress li.current + li > span:before {
    border-left-color: pink;
}

.track-progress li:first-child > span:after,
.track-progress li:first-child > span:before {
    display: none;
}
.track-progress li:first-child i,
.track-progress li:last-child i {
    display: block;
    height: 0;
    width: 0;

    position: absolute;
    top: 0;
    left: 0;

    border: solid transparent;
    border-left-color: white;
    border-width: 15px;
}

.track-progress li:last-child i {
    left: auto;
    right: -15px;

    border-left-color: transparent;
    border-top-color: white;
    border-bottom-color: white;
}

.ms-container{
    background: transparent url("../application/img/switch.png") no-repeat 50% 50%;
}

.class-holiday > .ui-state-default {
  background: #FFFFCC !important;
  color: red !important;
}
.class-sunday > .ui-state-default {
  background: #FFCCCC !important;
  color: red !important;
}
.class-saturday > .ui-state-default {
  background: #CCCCFF !important;
  color: blue !important;
}